.spinnerContainer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  flex-direction: column;
}

.loader {
  border: solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1.6s linear infinite;
}

@keyframes rotation {
  to {
    transform: rotate(1turn);
  }
}

.spinnerText {
  font-size: 1.8rem;
}
